@import "blocks/__Header.styl"
@import "blocks/__Fonts.styl"
@import "blocks/__Main.styl"
@import "blocks/__MainHeader.styl"
@import "blocks/__MainProject.styl"
@import "blocks/__MainSlider.styl"
@import "blocks/__MainClient.styl"
@import "blocks/__Footer.styl"
@import "blocks/__Services.styl"
@import "blocks/__ServicesItem.styl"
@import "blocks/__Catalog.styl"
@import "blocks/__CatalogCategory.styl"
@import "blocks/__CatalogItem.styl"
@import "blocks/__Project.styl"
@import "blocks/__ProjectCategory.styl"
@import "blocks/__ProjectItem.styl"
@import "blocks/__Partners.styl"
@import "blocks/__About.styl"
@import "blocks/__Contacts.styl"
@import "Preloader.styl"

body, html {
  margin:0
  padding:0
  height 100%
  min-height: 100%;
  min-width: 1240px
  font-family: "RobotoRegular"
}


.dn{
  display none !important
}

a{
  text-decoration none
  color: #969696;
}

* {
  box-sizing: border-box;
}

body {

}
.ruble{
  font-family: 'PTSans', serif;
}
.error{
  position: fixed
  width: 100%
  height:  100%
  background-color rgba(0,0,0,.2)
  display: flex
  top: 0px
  left: 0px
  justify-content: center
  align-items center
  z-index: 999
  &-wrapper{
    width: 500px
    background-color white
    padding: 40px
    text-align center
  }
}

.noSupport{
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  z-index: 10000
  top: 0;
  left: 0;
  background-color rgba(0, 0, 0, 0.5)
  &_wrapper{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &_block{
    display: inline-block
    background-color white
    padding: 20px
    width: 500px
  }
  &-title{
    font-size 20px
    padding-bottom: 10px
  }
}

.router-enter-active {
  transition: all .5s ease;
}
.router-leave-active {
  transition: all .5s ease;
}
.router-enter, .router-leave-to{
  opacity: 0;
  transform scale(.9)
}

.routerw-enter-active {
  transition: all .5s ease;
}
.routerw-leave-active {
  transition: all .5s ease;
}
.routerw-enter, .routerw-leave-to{
  opacity: 0;
}
