.header{
  display: flex
  width: 100%
  margin 0px auto
  background-color white
  top: 0px
  left: 0px
  &__wrapper{
    max-width: 1280px
    margin: 0 auto
    display: flex
  }
  &__items{
    display: flex
  }
  &__logo{
    width: 230px
    height: 70px
    background-color black
  }
}