.main__client{
  background-color: #333333;
  &_wrapper{
    max-width: 1259px
    margin: 0 auto
  }
  &_title{
    font-size: 40px;
    font-family RobotoLight
    padding-top: 40px
    padding-bottom: 40px
    color: white
  }
  &_items{
    display: flex
    padding-bottom: 90px
  }
  &_item{
    margin-right 40px
    img{
      height: 100px
    }
  }
}

@media(max-width: 1400px) {
  .main__project_items{
    margin-left: 70px
    margin-right: 70px
  }
}