.services-item{
  max-width: 1440px
  margin: 0 auto
  margin-top: 70px
  margin-bottom: 80px
  &__wrapper{

  }
  &__text{
    padding: 80px 90px
    background-color: #333333;

  }
  &__title{
    font-family: RobotoBold
    font-size: 20px;
    color white
    text-transform uppercase
    line-height: 50px
  }
  &__name{
    font-size: 40px;
    color white
    font-family RobotoLight
    text-transform uppercase
  }
  &__cover{
    height: 490px
    width: 100%
    background-repeat no-repeat
    background-size cover
    background-position center center
    overflow: hidden
  }
  &__desces{
    padding-top: 40px
    padding-left: 90px
    padding-right: 90px
    display: flex
    &-cover{
      flex 1 0 50%
      width: 50%
      padding-right: 20px
    }
    &-img{
      width: 100%
    }
    &-name{
      font-size: 14px;
      font-family: RobotoBold
      padding-top: 10px
    }
    &-text{
      font-size: 14px;
    }
  }
}